<!DOCTYPE jspl>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ul class="nav nav-sidebar">
    <li>
        <a href="http://${pageContext.request.serverName}:${pageContext.request.serverPort}/TyGiaVang-war/admin_views/newjsp.jsp">
            <i class="fa fa-comments" aria-hidden="true"></i>
            News 
        </a>
    </li>
    
    <li><a href="#">Layout</a></li>
    <li><a href="http://${pageContext.request.serverName}:${pageContext.request.serverPort}/TyGiaVang-war/faces/admin_views/contact.jsp">Contact</a></li>
    <li>
        <a href="http://${pageContext.request.serverName}:${pageContext.request.serverPort}/TyGiaVang-war/faces/admin_views/member.jsp">
            <i class="fa fa-user" aria-hidden="true"></i>
            Member
        </a>
    </li>
    <li><a href="http://${pageContext.request.serverName}:${pageContext.request.serverPort}/TyGiaVang-war/faces/admin_views/currency.jsp">Currency</a></li>
    <li>
        <a href="http://${pageContext.request.serverName}:${pageContext.request.serverPort}/TyGiaVang-war/admin_views/sitemap.jsp">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
            SiteMap
        </a>
    </li>
</ul>