<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CurrencyServlet</servlet-name>
        <servlet-class>servlet.CurrencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>servlet.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>servlet.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>servlet.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberController</servlet-name>
        <servlet-class>servlet.MemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrencyController</servlet-name>
        <servlet-class>servlet.CurrencyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteMapController</servlet-name>
        <servlet-class>servlet.SiteMapController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewsServlet</servlet-name>
        <servlet-class>servlet.AddNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <servlet-class>servlet.DeleteNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNewsServlet</servlet-name>
        <servlet-class>servlet.EditNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNMemberServlet</servlet-name>
        <servlet-class>servlet.AddNMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemberServlet</servlet-name>
        <servlet-class>servlet.DeleteMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMemberServlet</servlet-name>
        <servlet-class>servlet.EditMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContactServlet</servlet-name>
        <servlet-class>servlet.DeleteContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCurrencyServlet</servlet-name>
        <servlet-class>servlet.DeleteCurrencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCurrencyServlet</servlet-name>
        <servlet-class>servlet.AddCurrencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCurrencyServlet</servlet-name>
        <servlet-class>servlet.EditCurrencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>servlet.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExchangeCurencyServlet</servlet-name>
        <servlet-class>servlet.ExchangeCurencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSiteMapAdminServlet</servlet-name>
        <servlet-class>servlet.EditSiteMapAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSiteMapClientServlet</servlet-name>
        <servlet-class>servlet.EditSiteMapClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorldGoldPriceServlet</servlet-name>
        <servlet-class>servlet.WorldGoldPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorldGoldPriceController</servlet-name>
        <servlet-class>servlet.WorldGoldPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWorldGoldPriceServlet</servlet-name>
        <servlet-class>servlet.EditWorldGoldPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyGoldOnlineServlet</servlet-name>
        <servlet-class>servlet.BuyGoldOnlineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyGoldOnlineController</servlet-name>
        <servlet-class>servlet.BuyGoldOnlineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBuyGoldOnlineServlet</servlet-name>
        <servlet-class>servlet.AddBuyGoldOnlineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBuyGoldOnlineServlet</servlet-name>
        <servlet-class>servlet.DeleteBuyGoldOnlineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterClientServlet</servlet-name>
        <servlet-class>servlet.RegisterClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClientServlet</servlet-name>
        <servlet-class>servlet.LoginClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyGoldServlet</servlet-name>
        <servlet-class>servlet.BuyGoldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyGoldController</servlet-name>
        <servlet-class>servlet.BuyGoldController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBuyGoldServlet</servlet-name>
        <servlet-class>servlet.DeleteBuyGoldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBuyGoldOnlineServlet</servlet-name>
        <servlet-class>servlet.EditBuyGoldOnlineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoController</servlet-name>
        <servlet-class>servlet.DemoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDemoServlet</servlet-name>
        <servlet-class>servlet.AddDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutClientServlet</servlet-name>
        <servlet-class>servlet.LogoutClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/admin_views/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrencyServlet</servlet-name>
        <url-pattern>/CurrencyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/admin_views/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/NewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/NewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberController</servlet-name>
        <url-pattern>/MemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrencyController</servlet-name>
        <url-pattern>/CurrencyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteMapController</servlet-name>
        <url-pattern>/SiteMapController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewsServlet</servlet-name>
        <url-pattern>/admin_views/AddNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <url-pattern>/admin_views/DeleteNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNewsServlet</servlet-name>
        <url-pattern>/admin_views/EditNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNMemberServlet</servlet-name>
        <url-pattern>/admin_views/AddNMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemberServlet</servlet-name>
        <url-pattern>/admin_views/DeleteMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMemberServlet</servlet-name>
        <url-pattern>/admin_views/EditMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContactServlet</servlet-name>
        <url-pattern>/admin_views/DeleteContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCurrencyServlet</servlet-name>
        <url-pattern>/admin_views/DeleteCurrencyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCurrencyServlet</servlet-name>
        <url-pattern>/admin_views/AddCurrencyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCurrencyServlet</servlet-name>
        <url-pattern>/admin_views/EditCurrencyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExchangeCurencyServlet</servlet-name>
        <url-pattern>/user_views/ExchangeCurencyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSiteMapAdminServlet</servlet-name>
        <url-pattern>/admin_views/EditSiteMapAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSiteMapClientServlet</servlet-name>
        <url-pattern>/admin_views/EditSiteMapClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorldGoldPriceServlet</servlet-name>
        <url-pattern>/WorldGoldPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorldGoldPriceController</servlet-name>
        <url-pattern>/admin_views/WorldGoldPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWorldGoldPriceServlet</servlet-name>
        <url-pattern>/admin_views/EditWorldGoldPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyGoldOnlineServlet</servlet-name>
        <url-pattern>/BuyGoldOnlineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyGoldOnlineController</servlet-name>
        <url-pattern>/admin_views/BuyGoldOnlineController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBuyGoldOnlineServlet</servlet-name>
        <url-pattern>/admin_views/AddBuyGoldOnlineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBuyGoldOnlineServlet</servlet-name>
        <url-pattern>/admin_views/DeleteBuyGoldOnlineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterClientServlet</servlet-name>
        <url-pattern>/user_views/RegisterClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClientServlet</servlet-name>
        <url-pattern>/user_views/LoginClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyGoldServlet</servlet-name>
        <url-pattern>/user_views/BuyGoldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyGoldController</servlet-name>
        <url-pattern>/admin_views/BuyGoldController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBuyGoldServlet</servlet-name>
        <url-pattern>/admin_views/DeleteBuyGoldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBuyGoldOnlineServlet</servlet-name>
        <url-pattern>/admin_views/EditBuyGoldOnlineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoController</servlet-name>
        <url-pattern>/admin_views/DemoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDemoServlet</servlet-name>
        <url-pattern>/admin_views/AddDemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutClientServlet</servlet-name>
        <url-pattern>/user_views/LogoutClientServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>UserFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionbeans.UserFacadeLocal</local>
        <ejb-link>TyGiaVang-ejb.jar#UserFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UserFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionbeans.UserFacadeLocal</local>
        <ejb-link>TyGiaVang-ejb.jar#UserFacade</ejb-link>
    </ejb-local-ref>
</web-app>
